ecdsa==0.15 
Flask==1.1.1 
click==7.1.1 
Jinja2==2.11.3 
Werkzeug==0.15.4 
itsdangerous==1.1.0 
MarkupSafe==1.1.1 
webargs==6.0.0 
marshmallow==3.5.1 
astunparse==1.6.3 
pixiedust==1.1.18 
pixiedust-node==0.2.5
flask_cors
